* {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/audience.jpg);
}

.content {
  min-height: calc(100vh - 50px);
  /* 100vh is 100% of screen */
}

body, input  {
  text-align: center;
}

.button {
  font-size: 66px;
}

#round, #message {
  font-size: 52px;
}

.info {
  font-size: 32px;
}

.row {
  background-color: darkgreen;
  font-size: 80px;
}

.container {
  background-image: url(../images/pool-table.png);
  background-color: #ccc;
  min-height: 65vh;
  width: 75%;
  padding: 0 auto 75px auto;
}



.display, .scoreboard-element {
  font-size: 28px;
  padding: 4px 0;
  border: 4px solid #2759B2;
  border-bottom: none;
}

#theWelcome {
  font-size: 28px;
  padding: 4px 0;
  border: 4px solid #2759B2;
}

.info {
  margin: 5px auto;
}


#gameName-txt, #gameCounter-txt, #guessCounter-txt, #userMessage1-txt, #userMessage2-txt,  #theWelcome {
  font-weight: bold;
  color: #2746B3;
  background-color: #FFD76A;
}

#gameName-txt {
  font-family: 'Comic Sans', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 20px auto 0 auto;
  width: 100%;
  font-size: 50px;
}


#gameCounter-txt, #guessCounter-txt {
  display: inline-block;
  width: 49.5%;
  font-size: 32px;
}

#category-txt {
  background-color: #2746B3;
  color: #ccc;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 50px auto;
  text-align: center;
  margin: 20px auto 0 auto;
}

.puzzleDisplay {
  padding: 20px; 
  font-size: 40px;
  text-align: center;
  border:10px; 
  border-style:solid; 
  border-color:#2746B3;
  background-color: #ccc; 
  padding: 1em;
}


/* END OF FILE */